<div class="svg-menu-right">
	<p>
		{{t 'Please select some element on the diagram for interacting'}}
	</p>
	<div class="item create">
		{{t 'Please select some element on the diagram for interacting'}}
	</div>
	<div class="item read">
		{{t 'Please select some element on the diagram for interacting'}}
	</div>
	<div class="item update">
		{{t 'Please select some element on the diagram for interacting'}}
	</div>
	<div class="item delete">
		{{t 'Please select some element on the diagram for interacting'}}
	</div>
</div>
<svg id="activityDiagram"></svg>