<div class="logo">
	<img src="/img/logo.png" alt="MDDCloud logo"/>
</div>
<div class="sidebar">		
	<ul class="menu scroll" data-scroll="left">			
		<li><a href="#project">{{t 'Project'}}</a></li>
		<li><a href="#meetings">{{t 'Meetings'}}</a></li>
		<li id="dropdown-objectives">
			<a class="dropdown">{{t 'Objectives'}}</a>
			<i class="fa fa-chevron-circle-right"></i>
			<ul class="collection">
				<li><a href="#create/objective" class="add"><i class="fa fa-plus"></i> {{t 'create'}}</a></li>
			</ul>	
		</li>
		<li id="dropdown-actors">
			<a class="dropdown">{{t 'Actors'}}</a>
			<i class="fa fa-chevron-circle-right"></i>
			<ul class="collection">
				<li><a href="#create/actor" class="add"><i class="fa fa-plus"></i> {{t 'create'}}</a></li>
			</ul>
		</li>
		<li id="dropdown-functionalRequirements">
			<a class="dropdown">{{t 'Functional requirements'}}</a>
			<i class="fa fa-chevron-circle-right"></i>
			<ul class="collection">
				<li><a href="#create/functionalRequirement" class="add"><i class="fa fa-plus"></i> {{t 'create'}}</a></li>
			</ul>
		</li>
		<li id="dropdown-storageRequirements">
			<a class="dropdown">{{t 'Storage requirements'}}</a>
			<i class="fa fa-chevron-circle-right"></i>
			<ul class="collection">
				<li><a href="#create/storageRequirement" class="add"><i class="fa fa-plus"></i> {{t 'create'}}</a></li>
			</ul>
		</li>
		<li id="dropdown-nonFunctionalRequirements">
			<a class="dropdown">{{t 'Nonfunctional requirements'}}</a>
			<i class="fa fa-chevron-circle-right"></i>
			<ul class="collection">
				<li><a href="#create/nonFunctionalRequirement" class="add"><i class="fa fa-plus"></i> {{t 'create'}}</a></li>
			</ul>
		</li>			
		<li><a id="btn-use-case">{{t 'Use case diagram'}}</a></li>
		<li><a id="btn-class-diagram">{{t 'Class diagram'}}</a></li>
		<li id="btn-activity-diagrams">
			<a class="dropdown">{{t 'Activity diagrams'}}</a>
			<i class="fa fa-chevron-circle-right"></i>
			<ul>
				<li><a class="add"><i class="fa fa-plus"></i> {{t 'create'}}</a></li>
			</ul>
		</li>			
	</ul>
</div>
<div id="app">		
	<i class="fa fa-chevron-left"></i>
	<div id="container">						
		
	</div>		
</div>