<div class="mask"></div>
<div class="modal">
	<span class="x">
		<i class="fa fa-close"></i>
	</span>
	<div class="title">{{title}}</div>
	<div class="content">
		{{{html}}}
	</div>
	<div class="footer">
		{{#if buttons}}
			{{#each buttons}}
				<button class="{{class}}">{{text}}</button>
			{{/each}}
		{{else}}
			<button class="btn btn-primary close">{{t 'Exit'}}</button>
		{{/if}}
	</div>
</div>