<div class="field">
	<label>{{t 'Name'}}</label>
	<input class="medium" value="{{name}}" data="name"/>
	<a class="help tooltip" data-tooltip="{{t 'Name of this resource'}}">?</a>
</div>
<div class="field">
	<label>{{t 'Description'}}</label>
	<textarea class="large" data="description">{{description}}</textarea>
	<a class="help tooltip" data-tooltip="{{t 'Description of this resource'}}">?</a>
</div>