<div class="form">
	<fieldset>
		<legend>
			<span data="name">{{name}}</span>
		</legend>
		<div class="field">
			<label>{{t 'Creation date'}}</label>
			<span class="small" data="creationDate">{{date creationDate}}</span>
		</div>
		<div class="field">
			<label>{{t 'Description'}}</label>
			<span class="large" data="description">{{description}}</span>
		</div>
		<div class="field">
			<label>{{t 'Multimedias'}}</label>
			<span class="large no-border" data="multimedias" data-custom="multimedias"></span>
		</div>
		<div class="field">
			<label>{{t 'Sources'}}</label>
			<span class="large no-border" data="sources" data-custom="sources"></span>
		</div>
		<div class="field">
			<label>{{t 'Contributors'}}</label>
			<span class="large no-border" data="authors" data-custom="contributors"></span>
		</div>
		{{#allow 'ADMIN' 'EDITOR'}}
		<div class="field">
			<label></label>
			<button class="btn btn-primary medium" id="edit-nonFunctionalRequirement">{{t 'Edit this non functional requirement'}}</button>
		</div>
		{{/allow}}
	</fieldset>
</div>