<div class="form">
	<fieldset>
		<legend>
			<span data="name">{{name}}</span>
		</legend>
		<div class="field">
			<label>{{t 'Creation date'}}</label>
			<span class="small" data="creationDate">{{date creationDate}}</span>
		</div>
		<div class="field">
			<label>{{t 'Description'}}</label>
			<span class="large" data="description">{{description}}</span>
		</div>
		<div class="field">
			<label>{{t 'Multimedias'}}</label>
			<span class="large"></span>
		</div>
		<div class="field">
			<label>{{t 'Sources'}}</label>
			<span class="large"></span>
		</div>
		<div class="field">
			<label>{{t 'Contributors'}}</label>
			<span class="large"></span>
		</div>
		<div class="field">
			<label></label>
			<button class="btn btn-primary medium" id="edit-objective">{{t 'Edit this objective'}}</button>
		</div>
	</fieldset>
</div>