<div class="form">
	<fieldset>
		<legend>
			<span>{{t 'Edit Project'}}</span>
		</legend>
		<div class="field">
			<label>{{t 'Creation date'}}</label>
			{{#allow 'ADMIN' 'EDITOR'}}
				<input class="small disable" disabled value="{{date creationDate}}" data="creationDate"/>
				<a class="help tooltip" data-tooltip="{{t 'This field can\'t modify'}}">?</a>
			{{else}}
				<span class="small" data="creationDate">{{date creationDate}}</span>
			{{/allow}}
		</div>
		<div class="field">
			<label>{{t 'Name'}}</label>
			{{#allow 'ADMIN' 'EDITOR'}}
				<input class="name medium" value="{{name}}" data="name"/>
				<a class="help tooltip" data-tooltip="{{t 'Write a name for your project'}}">?</a>
			{{else}}
				<span class="medium" data="name">{{name}}</span>
			{{/allow}}
		</div>
		<div class="field">
			<label>{{t 'Description'}}</label>
			{{#allow 'ADMIN' 'EDITOR'}}
				<textarea class="description large" data="description">{{description}}</textarea>
				<a class="help tooltip" data-tooltip="{{t 'Write a description for your project'}}">?</a>
			{{else}}
				<span class="large" data="description">{{description}}</span>
			{{/allow}}
		</div>
		<div class="field">
			<label>{{t 'Template'}}</label>
			{{#allow 'ADMIN' 'EDITOR'}}
				<select class="template medium" data="template">
					<option {{selected template 'AMELIA'}}>AMELIA</option>
					<option {{selected template 'CERULEAN'}}>CERULEAN</option>
					<option {{selected template 'COSMO'}}>COSMO</option>
					<option {{selected template 'CYBOR'}}>CYBOR</option>
					<option {{selected template 'FLATLY'}}>FLATLY</option>
					<option {{selected template 'JOURNAL'}}>JOURNAL</option>
					<option {{selected template 'READABLE'}}>READABLE</option>
					<option {{selected template 'SIMPLEX'}}>SIMPLEX</option>
					<option {{selected template 'SLATE'}}>SLATE</option>
					<option {{selected template 'SPACELAB'}}>SPACELAB</option>
					<option {{selected template 'UNITED'}}>UNITED</option>
				</select>
				<a class="help tooltip" data-tooltip="{{t 'Choose a template for the Web application that will be created'}}">?</a>
			{{else}}
				<span class="medium" data="template">{{template}}</span>
			{{/allow}}
		</div>
		<div class="field">
			<label></label>
			<img src="/img/themes/{{lower template}}.png" alt="{{t 'Bootswatch Theme'}}">
		</div>
		<div class="field">
			<label></label>
			<button class="btn btn-primary medium" id="view-enumerations">{{t 'Enumerations'}}</button>
		</div>
		<div class="field">
			<label></label>
			<button class="btn btn-danger medium" id="view-participants">{{t 'Participants'}}</button>
		</div>
	</fieldset>
</div>