<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<p>
		{{t 'Hi'}} <b>{{name}}</b>,
	</p>
	<br>
	<p>
		{{t 'Welcome to'}} 
		<a href="https://twitter.com/mddcloud" target="_blank">@mddcloud</a>
	</p>
	<p>
		{{t 'We are building the best platform for requirements management and model driven development of business web applications'}}
	</p>
	<p>
		{{t 'You\'re almost done! Please confirm your email address to finish signing up.'}}
		<a href="{{link}}">
			{{t 'Click here!'}},
		</a>
	</p>
	<br>
	<p>
		{{t 'Create amazing projects!'}} 
	</p>
	<br>
	<a href="https://twitter.com/mddcloud" target="_blank">@mddcloud</a>
</body>
</html>