<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<p>
		{{t 'Hi'}} <b>{{name}}</b>,
	</p>
	<br>
	<p>{{t 'You have been invited to participate in'}}</p>
	<p>
		<b>{{project}}: </b>
		<span>{{description}}</span>,
	</p>
	<p>
		{{t 'With the role'}}: <b>{{role}}</b>
	</p>
	<br>
	<p>
		{{t 'Please'}} 
		<a href="{{link}}">
			{{t 'click here'}},
		</a>
		{{t 'for to begin to participate in this project!'}}
	</p>
	<br>
	<p>MDDCloud</p>
</body>
</html>