<div class="container">
	<div class="row page-title text-center wow zoomInDown" data-wow-delay="1s">
		<h5>{{t 'Welcome to'}}</h5>
		<h2>@mmdcloud</h2>
		<p>{{t 'Manage the requirements of your projetcs and generate business web applications for your customers'}}</p>

	</div>
	<div class="row how-it-work text-center">
		<div class="col-md-4">
			<div class="single-work wow fadeInUp" data-wow-delay="0.8s">
				<img src="assets/img/how-work3.png" alt="">
				<h3>{{t 'Requirements engineers'}}</h3>
				<p>
					<a href="http://twitter.com/mddcloud" target="_blank" class="white-link">@mddcloud</a>
					{{t 'is a platform for requirements engineers that enables the specification of software requirements in an easy and collaborative with other users.'}}
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="single-work  wow fadeInUp"  data-wow-delay="0.9s">
				<img src="assets/img/how-work2.png" alt="">
				<h3>{{t 'Transformations'}}</h3>
				<p>
					<a href="http://twitter.com/mddcloud" target="_blank" class="white-link">@mddcloud</a>
					{{t 'translates your requirements into use case, class and activities diagrams; it also generates documentation of the requirements of your system.'}}
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="single-work wow fadeInUp"  data-wow-delay="1s">
				<img src="assets/img/how-work1.png" alt="">
				<h3>{{t 'Create business web applications'}}</h3>
				<p>
					<a href="http://twitter.com/mddcloud" target="_blank" class="white-link">@mddcloud</a>
					{{t 'creates a cloud solution with the modeled allowing the validation of customer requirements; additionally, you can download the code and rely on it to build the application you are producing.'}}
				</p>
			</div>
		</div>
	</div>
</div>
<hr>



<div class="container">
	<div class="row page-title text-center wow bounce"  data-wow-delay="1s">
		<h2>
			{{t 'Created projects with'}}
			<a href="http://twitter.com/mddcloud" target="_blank">@mddcloud</a>
		</h2>
		<h2><span>{{count}}</span> </h2>
	</div>

</div>
<hr>